h1 {
  font-family: $headers-font;
  font-size: 52px !important;
  color: $dark-blue;
}
h2 {
  font-family: $headers-font;
  font-size: 32px;
  color: $dark-blue;
  font-weight: 700;
}
h3 {
  font-family: $body-font;
  font-size: 24px !important;
  color: $dark-blue;
  font-weight: 700;
}
h4 {
  font-family: $body-font;
  font-size: 18px !important;
  color: $dark-blue;
  font-weight: 700;
}
p {
  font-family: $body-font;
  color:$dark-blue;
}

label {
  font-weight: 700;
  color:$dark-blue;
}

.section-heading {
  margin-top: 56px !important;
  margin-bottom: 32px;
}
.picto {
  font-size: 72px;
  margin-right: 24px;
  color: $light-blue;
}
.nav-link{
  color: white !important;
}
#dashboard-entry {
  font-weight: 700;
}
.back-link {
  font-size: 24px;
  font-family: $headers-font;
  color: white;
  font-weight: 700;
  text-decoration: none;
  &:hover {
    color: white  ;
  }
}
.delete-link {
  color: $primary-action;
  text-decoration: none;
   &:hover {
    color: #24abcb !important;
  }
  &:active {
    color: #29b8da;
  }
  &:visited {
    color: #24abcb !important;
  }
}
.login-link {
  color: $primary-action;
  font-weight: 700;
  text-decoration: none;
}
#per-day {
  color: gray;
  font-size: 14px;
}
#discover {
  color: white;
  margin-top: 72px !important;
}
#margin-title {
  margin-top: 72px !important;
  padding-left: 16px;
}
