h1 {
  font-family: $headers-font;
  font-size: 52px !important;
  color: $dark-blue;
}
h2 {
  font-family: $headers-font;
  font-size: 32px;
  color: $dark-blue;
  font-weight: 700;
}
p {
  font-family: $body-font;
  color:$dark-blue;
}

label {
  font-weight: 700;
  color:$dark-blue;
}

.section-heading {
  margin-top: 56px !important;
  margin-bottom: 32px;
}
.picto {
  font-size: 72px;
  margin-right: 24px;
  color: $light-blue;
}
.nav-link{
  color: white !important;
}
#dashboard-entry {
  font-weight: 700;
}
