

<h1>Almost there! </h1>
<%= simple_form_for [@bike, @rental] do |f| %>
  <%= f.input :start_date, label:"Rental start date" %>
  <%= f.input :end_date, label:"Rental end date"  %>
  <%= f.button :submit, class:"primary-button mt-2" %>
<% end %>
