  <div class="container bg-white form-box">
    <form action="/dashboard">
      <div class="row">
        <label for="fname" class="form-label string required"> Full Name</label>
        <input class="form-control string required" type="text" id="fname" name="firstname" placeholder="John M. Doe">
      </div>
      <div class="row">
        <label for="ccnum" class="form-label string required">Credit card number</label>
      </div>
      <div class="row">
        <input class="form-control string required" type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
      </div>
      <div class="row">
        <label for="expmonth" class="form-label string required col-12">Expiration date</label>
      </div>
      <div class="row">
        <input class="form-control string required col" type="text" id="expmonth" name="expmonth" placeholder="September">
        <input class="form-control string required col" type="text" id="expyear" name="expyear" placeholder="2018">
      </div>
      <div class="row">
      <input type="submit" value="Checkout" class="btn primary-button mt-3">
      </div>
    </form>
  </div>
ith
