<div class="container">
<h2><strong>These bikes are waiting for you</strong></h2>
</div>
<div class="container bike-grid">
  <% @bikes.each do | bike | %>
    <%= render 'shared/bike_card', bike: bike %>
  <% end %>
</div>
