<div style="height: 100vh;" class="d-flex align-items-center pattern-background">
    <div class="row d-flex" style="width: 100%;">
      <div class="container bg-white form-box col-lg-6 col-md-6 col-sm-12" style="padding: 24px;">
        <h2 class="text-center">Add a bike</h2>
        <%= render 'shared/bike_form' %>
      </div>
    </div>
</div>
<!-->
