.primary-button {
  background-color: $primary-action !important;
  padding: 16px 24px;
  color: white;
  border-radius: 32px;
  &:hover{
    background-color: #24ABCB !important;
  }
  &:active{
    background-color: #29B8DA !important;
  }
  &:visited{
    background-color: #24ABCB !important;
  }
}
.primary-button a, .secondary-button a {
  color: white;
  text-decoration: none;
  font-weight: 700;
}

.secondary-button {
  background-color: $secondary-action !important;
  padding: 16px 24px;
  color: white;
  border-radius: 32px;
  &:hover{
    background-color: #FCA33E !important;
  }
  &:active{
    background-color: #FFBA6B !important;
  }
  &:visited{
    background-color: #FCA33E !important;
  }
}
.primary-button a{
  color: white;
  text-decoration: none;
  font-weight: 700;
}
