.primary-button {
  background-color: $primary-action !important;
  padding: 12px 32px;
  color: white;
  border-radius: 32px;
  text-decoration: none;
  font-weight: 700;
  &:hover {
    background-color: #24abcb !important;
    color: white;
  }
  &:active {
    background-color: #29b8da !important;
    color: white;
  }
  &:visited {
    background-color: #24abcb !important;

    color: white;
  }
}
.primary-button a,
.secondary-button a {
  color: white;
  text-decoration: none;
  font-weight: 700;
}
.secondary-button {
  background-color: $secondary-action !important;
  padding: 16px 24px;
  color: white;
  border-radius: 32px;
  &:hover {
    background-color: #fca33e !important;
    color: white;
  }
  &:active {
    background-color: #ffba6b !important;
    color: white;
  }
  &:visited {
    background-color: #fca33e !important;
    color: white;
  }
}
