.bike-card {
  /* Add shadows to create the "card" effect */
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
  display: flex;
  background-color: white;
}
.bike-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.details-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 15px;
  justify-content: space-evenly;
}

.details-card-bike h4 {
  color: #023147
}

.details-card-owner {
  display: flex;
  p {
    margin: auto 1rem;
  }
}
.settings-card {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.icons-card {
  display: flex;
  justify-content: space-evenly;
  i {
    padding: 15px;
  }
}
.img-card img {
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

.bike-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
  row-gap: 15px;
}

.bike-grid {
  margin-top: 20px;
}

@media (max-width: 1080px) {
  .bike-grid {
    grid-template-columns: 1fr;
  }
}
.card-bottom {
  margin-bottom: 24px;
}
.show-img-width {
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 200px;
}
.show-img-width img {
  mask-image: inherit;
}
.bike-card-small {
  /* Add shadows to create the "card" effect */
  padding: 12px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
  display: flex;
  height: 320px;
  background-color: white;
}
