.icon-category {
  color: $dark-blue;
  margin-right: 8px;
}
.icon-back {
  color: white;
  margin-right: 16px;
  font-size: 24px;
}
.icon-action {
  font-size: 32px;
  color: $primary-action;
  margin-right: 8px;
}
.quote {
  font-size: 24px;
  font-family: $headers-font;
  color: $dark-blue;
  opacity: 0.5;
  font-weight: 700;
}
.icon-login {
  color: white;
  font-weight: 700;
  margin-right: 8px;
}
